################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

*.cache
*.sln
*.suo
/.vs/VSWorkspaceState.json
